body {
  font-family: "Poppins", sans-serif;
  background-color: #0f766e; /* Use the main background color from style.css */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#fileInput {
  display: none;
}

#parentContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filesContainer {
  width: 32rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileBox {
  margin-bottom: 1rem; /* Adjust margin as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; /* Adjust padding as needed */
  border: 1px solid #3490dc; /* Use the border color from style.css */
  border-radius: 0.375rem;
  background-color: #edf2f7;
}

.fileName {
  flex-grow: 1;
  margin-right: 0.5rem; /* Adjust margin as needed */
  color: #2d3748; /* Use the text color from style.css */
}

.removeButton {
  background-color: #e53e3e;
  color: white;
  padding: 0.25rem 0.5rem; /* Adjust padding as needed */
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

#convertButton {
  margin: 1rem;
  margin-top: 1.5rem;
  background-color: #0f766e;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 15px;
  width: 20%;
}

.select-files {
  color: #6b7280;
  cursor: pointer;
  font-size: 28px;
}

#goBackButton {
  background-color: #333333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 15px;
  margin-top: 3.5rem;
}

#goBackButton:hover {
  background-color: #555555;
}

.file {
  display: flex;
  align-items: center; /* Adjust background color as needed */ /* Adjust border color as needed */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;
}

.file p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-file-btn {
  background-color: #e53e3e;
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 14px; /* Adjust font size as needed */
  margin-left: 0.5rem; /* Adjust margin as needed */
}

.remove-file-btn:hover {
  background-color: #c53030; /* Adjust hover background color as needed */
}
