<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Webper</title>
  </head>
  <body class="bg-teal-700 body-container">
    <div
      class="max-w-xl m-auto h-screen flex flex-row items-center justify-center space-x-8"
    >
      <!-- Resize Block -->
      <button class="custom-anchor" id="resize">
        <img src="../images/resize.webp" width="64" />
        <span class="mt-2 leading-normal">Click to Resize</span>
      </button>

      <!-- Convert Block -->
      <button class="custom-anchor" id="convert">
        <img src="../images/Convert-Icon.webp" width="64" />
        <span class="mt-2 leading-normal">Click to Convert</span>
      </button>
    </div>
    <script src="../js/viewRouter.js"></script>
    <!-- <script src="../js/script.js"></script> -->
  </body>
</html>
