<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webper - Image Converter & Resizer</title>
    <link rel="stylesheet" href="../css/converter.css">
</head>
<body>
    <div id="parentContainer">
        <div id="filesContainer">
            <input type="file" id="fileInput" multiple accept="image/*">
            <label for="fileInput">
                <div class="select-files">Select Images</div>
            </label>
            <div id="fileList">
                <!-- <div class="file" data-file-id="file.id">
                    <p>1. </p>
                    <p>Jakiś Plik</p>
                    <label for="width">w:</label>
                    <input type="number" name="width" class="dimension-input">
                    <p> x </p>
                    <label for="height">h:</label>
                    <input type="number" name="height" class="dimension-input">
                    <button name="close-outline" class="remove-file-btn">✕</button>
                  </div> -->
            </div>
            <button id="convertButton">Convert</button>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>